@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth_transition {
  @apply transition-all duration-300;
}

.hamburger {
  @apply bg-blue-900;
  height: 3px;
  width: 35px;
  position: relative;
}
.hamburger::after {
  @apply bg-blue-900;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  top: -10px;
}
.hamburger::before {
  @apply bg-blue-900;
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -10px;
}
